Package: lua-graph-toolkit
Maintainer: Francesco Abbate <francesco.bbt@gmail.com>
Version: LGT_VERSION
Architecture: LGT_ARCH
Installed-Size: LGT_INSTALLED_SIZE
Depends: libc6 (>= 2.7-1), libx11-6, LGT_LUA
Section: x11
Priority: optional
Description: Lua Graphics Toolkit
 The Lua Graphics Toolkit is a LuaJIT2 module to create graphical
 windows for plots or animations.
